{% extends "app_sanatorio/base.html" %}

{% block base %}

<div class="m-5">
  <table class="table table-bordered text-light m-5 d-flex justify-content-around p-5">
    <tbody>
      <tr>
        <th class="py-3 px-4">
          <strong>Nombre</strong>
        </th>
        <th class="py-3 px-4">
          <strong>Apellido</strong>
        </th>
      </tr>    
      {% for valor in medico %}
      <tr>
        <td class="py-3 px-4">{{valor.nombre}}</td>
        <td class="py-3 px-4">{{valor.apellido}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock base %}

