{% extends "app_sanatorio/base.html" %}

{% block base %}

<h1 class="fs-1 mt-5 p-5 text-center">BLOG</h1>
<h1 class="fs-2 mt-2 p-1 text-center text-light">{{ articulo.titulo }}</h1>

{% endblock base %}

{% block section %}

<section class="p-1 d-flex flex-column text-light about-section text-center" id="about">  
    <article>
        <img src="{{ articulo.imagen.url }}" alt="imagen">
        <h4>{{ articulo.subtitulo }}</h4>
        <p>{{ articulo.cuerpo }}</p>
        <h5>{{ articulo.autor }} - {{ articulo.fecha }}</h5>
        
        <a href="{% url 'comentario_form' articulo.id %}">Comentar</a>

        {% for comentario in comentarios %}
        <div>
            <p>{{comentario.cuerpo}}</p>
            <h5>{{comentario.autor}} - {{comentario.fecha}}</h5>

            {% if user == comentario.autor %}

            <a href="{% url 'eliminar_comentario' comentario.id %}">Eliminar</a>
            
            {% endif %}
        </div>
        {% endfor %}

    </article>
    

</section>
    
{% endblock section %}