{% extends "app_sanatorio/base.html" %}

{% block style_block %}
<style>
    .texto-card {
        height: 10rem;
        margin-bottom: 15px;
        white-space: wrap;
        overflow: hidden;
    }
</style>
{% endblock style_block %}

{% block base %}

<h1 class="fs-1 mt-5 p-5 text-center">BLOG</h1>
<h1 class="fs-2 mt-2 p-1 text-center text-light">Enterate de todas las novedades del sanatorio.</h1>

{% endblock base %}

{% block section %}

<section class="p-1 d-flex flex-column text-light about-section text-center" id="about">
    
    {% if object_list %}
        {% for articulo in object_list %}
            <article class="d-flex flex-row justify-content-center">
                <a href="{% url 'ver_articulo' articulo.id %}"><img src="{{ articulo.imagen.url }}" alt="imagen"></a>
                <div class="card bg-dark" style="width: 25rem;">
                    <div class="card-body">
                        <h4 class="card-title text-primary">{{ articulo.titulo  }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">{{ articulo.subtitulo }}</h6>
                        <div class="card-text texto-card">{{ articulo.cuerpo | safe }}</div>
                        <a href="{% url 'ver_articulo' articulo.id %}" class="btn btn-primary p-2">Ver articulo</a>
                        {% if user.is_staff %}
                            <a href="{% url 'editar_blog' articulo.id %}" class="card-link">Editar</a>
                            <a href="{% url 'eliminar_blog' articulo.id %}" class="card-link">Eliminar</a>
                        {% endif %}
                        <div class="card-footer bg-transparent text-light mt-3">
                            {{ articulo.autor }} - {{ articulo.fecha }}
                        </div>
                    </div>
                </div>
            </article>
        {% endfor %}
    {% else %}
            <h3>No hay entradas en el blog.</h3>
    {% endif %}
    

</section>

{% endblock section %}